// Basic tags

body {
	background-color: rgb(244,244,244);
	margin-top: 128px;
}

h1, h2 {
	margin-top: 0;
}

p {
	margin-bottom: 3px;
}

a {
	text-decoration: none;
}

hr {
	margin-top: .5em;
	margin-bottom: .5em;
}

textarea.form-control {
	height: 10em;
	max-width: 522px;
}

// Card class

.card {
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: rgb(192,192,192);
	border-width: 1px;
	padding: 2em;
	background-color: #ffffff;
}

// Navbar classes

$navbar-backgroundColor: rgb(168,0,168);
$navbar-textColor: #ffffff;

.navbar {
	background-color: $navbar-backgroundColor;
	border-color: $navbar-backgroundColor;
	margin: 0;
}

.navbar-inverse a {
	color: $navbar-textColor !important;
	margin-right: 12px;
}

// .navbar-toggle {
// 	border-color: $navbar-textColor !important;
// }

// .navbar-nav {
// 	margin: auto;
// }

// .navbar-collapse {
// 	border-color: $navbar-textColor !important;
// 	padding: 0;
// }

// .navbar-form {
// 	padding: 0;
// 	border-top: 0;
// 	border-bottom: 0;
// }

.navbar-inverse span {
	color: $navbar-textColor !important;
}

.navbar form {
	padding-right: 12px;
	display: inline;
}

// Toolbar class

$toolbar-backgroundColor: rgb(45,176,123);

.toolbar {
	top: 51px;
	background-color: $toolbar-backgroundColor;
	border-color: $toolbar-backgroundColor;
	margin: 0;
}

// Label class

.label {
	margin-left: 5px;
}

// Dropdown button menu class

.dropdown-menu {
	background-color: rgb(114,201,226);
}

// Count class

.count {
	color: $navbar-textColor !important;
	margin-left: 12px;
}

// Media classes

.media-object, .media-object-form {
	max-width: 256px;
	padding-right: 5px;
}

.media-object-small {
	max-width: 75px;
	padding-top: 2px;
}

.media-left {
	max-width: 266px;
	padding-right: 15px;
}